/*
 * Simple drawers for Discord and Vencord's toolbars, hover over one of the two
 * menu bartenders "∙∙∙" to open.
 */

.clickable__81391[aria-label="Update Ready!"] {
  display: none !important;
}

.bar_c38106 {
  .trailing_c38106 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-out;
    margin-right: 40px;
  }

  &:hover,
  &:has(.selected__81391),
  &:has(+ .content__5e434 .toolbar__9293f:hover),
  &:has(+ .content__5e434 .toolbar__9293f .open_c322aa),
  &:has(+ .content__5e434 .toolbar__9293f .focused_c322aa) {
    .trailing_c38106 {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:hover,
  &:has(.selected__81391) {
    + .content__5e434 .toolbar__9293f::after {
      color: var(--text-3);
      transform: translateY(-50%) rotate(45deg);
    }
  }

  + .content__5e434 {
    .toolbar__9293f {
      position: relative;

      &::after {
        content: "∙∙∙";
        font-size: 110%;
        color: var(--text-4);
        cursor: pointer;
        pointer-events: auto;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        transition: transform 150ms ease-out;
        z-index: 10;
      }

      &:hover,
      &:has(.open_c322aa),
      &:has(.focused_c322aa) {
        &::after {
          color: var(--text-3);
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }

    .clickable__9293f,
    .search__49676 {
      opacity: 0;
      pointer-events: none;
      transition: opacity 150ms ease-out;
    }

    .toolbar__9293f:hover,
    .toolbar__9293f:is(:has(.open_c322aa), :has(.focused_c322aa)) {
      .clickable__9293f,
      .search__49676 {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
