/* custom chat bar input text */

/* hide existing text */
.placeholder__1b31f.slateTextArea_ec4baf {
  visibility: hidden;
}

/* add custom text */
.placeholder__1b31f.slateTextArea_ec4baf::before {
  visibility: visible;
  content: "nyaaa mrrp mrow :3c"; /* replace var() with your desired text (in quotes) */
}
